
  <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
  <script charset="utf-8">
    var apiKey    = "#{Rails.application.secrets.opentok_api_key}";
    var sessionId = "<%= @session.session_id %>";
    var token     = "<%= @token %>";
    var session = OT.initSession(apiKey, sessionId);
    session.on("streamCreated", function(event) {
     session.subscribe(event.stream);
    });
    session.connect(token, function(error) {
     var publisher = OT.initPublisher();
     session.publish(publisher);
    });
  </script> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
